
.postCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    text-align: center;
    margin-bottom: 5em;
    padding: 0em 3em;
}


.postCard{
    position: relative;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.5em grey;
    min-width: 100%;
    padding: 1.5em 0em;
    border-radius: 15px;
    cursor: pointer;

    
}

.postCardTitleContainer{
    padding: 0em 1.4em;
    text-align: start;
    margin-bottom: 2em;
}

.postCardTitle{
    font-size: 2.5em;
    width: 100%;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.postCardImg{
    object-fit: cover;
    width: 95%;
    height: auto;
    border-radius: 1em;
}

.postCardDescription{
    max-width: 100%;
    max-height: 100%;
    font-size: 15px;   
}

.postCardOverlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .25s ease;
    background-color: black;
    border-radius: 15px;

}

.postCard:hover .postCardOverlay{
    opacity: .5;
    
}


@media (min-device-width: 767px){

    .postCardContainer {
        width: 20em;
        padding: 0em 1em;
    }

    .postCard{
        max-width: 40%;
        max-height: 15em;
    }

    .postCardTitleContainer {
        max-width: 27em;
        max-height: 1em;
    }

    .postCardTitle{
        font-size: 1em;
    }
    
    .postCardImg{
        width: 90%;
        max-height: 10em;
    }

    

}