/**Detail of the Post*/

.detailPostContainer{
    margin-top: 48em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.detailPost{
    background-color: white;
    border-radius: 25px;
    width: 85%;
    padding: 2em;
    box-shadow: 0.5em 0.5em 1em grey;

    
}

.detailPostCreationDate{
    font-size: 2.5em;
    margin: 1em 0em;
    margin-top: 0;
}

.imgDetailPost{
    object-fit: cover;
    margin-bottom: 1em;
    width: 100%;
    border-radius: 25px;
    
}

.detailPostTitle{
    display: flex;
    width: 100%;
    height: auto;
    font-size: 3em;
    margin-top: 0;
    color: rgb(255, 157, 46);
    font-weight: 900;
    text-transform: capitalize;
}

.detailPostDescription{
    font-size: 2.5em;
    border-bottom: .1em solid lightgray;
    border-top: .1em solid lightgray;
    padding: .5em 0em;
       
}

.detailPostContactContainer{
    width: 100%;
}

.detailPostContact{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: .4em 0em;
    font-size: 3em;
}

.detailPostContactSpan{
    word-break: break-all;
    margin-left: .5em
}

.detailContactIcon{
    font-size: 1.5em;
    color:rgb(255, 157, 46); ;
}

.createPostButtonDetailPostMod{
    position: unset;
    align-self: center;
    margin: 1em 0em;
}

@media (min-device-width:768px){

    .detailPostContainer{
        margin-top: 17em;
    }

    .detailPost{
        width: 30%;
    }

    .detailPostCreationDate {
        font-size: 1em;
    }

    .detailPostTitle{
        font-size: 1.5em;
    }

    .detailPostDescription{
        font-size: 1em;
    }

    .detailPostContact{
        font-size: 1em;
    }

    .createPostButtonDetailPostMod{
        margin: 2em 0em;

    }
}