.headerContainer{
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 2em;
    border-bottom: solid 1px rgb(255, 157, 46);

}

.headerTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.headerLogo{
    font-size: 3em;
    color: white;
    background-color: rgb(255, 157, 46);;
    padding: .3em;
    padding-bottom: .1em;
    border-radius: .25em;
    margin-right: .25em;
    box-shadow: .1em .1em .1em black;
    align-self: center;
}

.headerTitle{
    font-family: 'Lobster';
    color:rgb(255, 157, 46);
    text-shadow: 0.1em 0.1em 0.1em black;
    font-size: 4em;
    margin: 0;
}

.headerTitleMobile{
    font-family: 'Lobster';
    color:rgb(255, 157, 46);
    text-shadow: 0.1em 0.1em 0.1em black;
    font-size: 5em;
    margin: 0;
}

.userPageButton{
    font-size: 3em;align-self: center;
    text-decoration: none;
    font-weight: 900;
    color:rgb(255, 157, 46);
    text-shadow: .1em .1em .1em black;
}

.signInModalButton{
    font-size: 5rem;
    color: rgb(255, 157, 46);
    text-shadow: 0.1em 0.1em 0.1em black;
}

.signInModalButton:hover{
    transition: .25s ease;
    color:rgb(90, 90, 90);


}



@media (min-device-width: 768px){
    .headerContainer{
        padding:1em;
    }
    
    .headerLogo{
        font-size: 1em;
        color: white;
        background-color: rgb(255, 157, 46);;
        padding: .3em;
        padding-bottom: .1em;
        border-radius: .25em;
        margin-right: .5em;
        box-shadow: .1em .1em .1em black;
    }


    .headerTitle{
        font-size: 1.5em;
    }

    .userPageButton{
        font-size: 1.5em;
    }

    .signInModalButton{
        font-size: 1.5em;
    }

    .headerTitle{
        display: block;
    }
    
    .headerTitleMobile{
        display: none;
    }



}


