.sectionSelectorContainer{
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2.5em 0em;
    margin-bottom: 1em;
}

.sectionTitle{
    border: .1em solid lightgray;
    padding: .5em 1em;
    margin: 0em 1em;
    font-size: 2.5em;
    border-radius:1em;
    cursor: pointer;
}

.borderRight{
    border-right:.1em solid lightgray ;

}

.sectionTitle:hover{
    transition: .25s ease;
    background-color: rgb(255, 190, 130);
    color: white;
}

.sectionTitleSelected{
    background-color: rgb(255, 157, 46);
    color: white;
}

.sectionTitleSelected:hover{
    background-color: rgb(255, 157, 46);
    color: white;
}

@media (min-device-width:768px){
    .sectionSelectorContainer{
        margin: 1em 0em;
    }
    
    .sectionTitle{
        font-size: 1em;
    }
    
}
