/**Form to create the post*/

.containerPost{
    width: 100vw;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12em;
}

.formPostForm{
    margin: 0;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0em 4em;
    border-radius: 2em;
    box-shadow: 0.5em 0.5em .5em grey;
    margin-bottom:5em ;
}

.labelPostTitle{
    font-size: 3em;
    margin-top: 1em;
}

.inputPostForm{
    border: lightgray .1em solid;
    outline: none;
    border-radius: 1em;
    font-size:3em;
    padding:.2em .5em;
}

.imagePostInput{
    font-size: 2em;
    font-family: 'Muli';

}

.textareaForm{
    border: lightgray .1em solid;
    outline: none;
    border-radius: 1em;
    min-height: 11em;
    font-size: 3em;
    padding: .5em;
    font-family: 'Muli';
    min-width: 100%;
}

.postFormOptGroup{
    font-size: .4em;
}

.formButton{
    margin: 1em 0em;
    padding: .2em 2em;
    align-self: center;
    font-size: 3em;
}

.corporateButton{
    color: rgb(255, 157, 46);
    background-color:transparent;
    border-radius: .5em;
    /*border: .15em solid rgb(255, 189, 46); */
    border: .15em solid rgb(255, 157, 46)
}

.corporateButton:hover{
    background-color: rgb(255, 157, 46);
    color:white;
    border-radius: .5em;
    border-color: transparent;
}


@media(min-device-width:768px){
    .containerPost{
        padding-top:6em;
    }

    .formPostForm{
        padding: 0em 2em;
    }

    .labelPostTitle{
        font-size: 1em;
    }
    
    .inputPostForm{
        font-size: 1em;

    }

    .textareaForm{
        min-height: 10em;
        font-size:1em;
        border-radius: .5em;
    }

    .postFormOptGroup{
        font-size: inherit;
    }

    .imagePostInput {
        font-size: 1em;
    }

    .formButton{
        font-size: 1em;
    }
}