/**Detail of the Post*/

.titlePost{
    text-align: center;

}

.detailPost{
    background-color: lightgrey;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25px;
}


.imgDetailPost{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1%;
    max-width: 100%;
    max-height: 100%;
}

.detailTextPost{
    text-align: center;
    font-size: 2rem;
}

.informationTlf{
    display:inline;
    font-size: 2rem;
}

.informationEmail{
    display:inline;
    font-size: 2rem;
}

.contactUser{
    text-decoration: underline;
    display:inline;
    font-size: 2rem;
}

.detailUl  {
    list-style-type: none;
    width: 100%;
    max-width: 100%;
    max-height: 100%;

  }