<div class="detailPost">
    <h1 class="titlePost">Title of the post</h1>
    <img class="imgDetailPost" id="logo" src="img/logo.png" alt="logo">
    <ul class="detailUl">
        <li>
            <p class="detailTextPost">
                Hello I would like some help with my electrical system.
            </p>
        </li>
        <li>
            <p class="contactUser">
                Email:
            </p>
            &nbsp
            <p class="informationEmail">TestTestTestTest</p>
        </li>
        <li>
            <p class="contactUser">
                Número de teléfono:
            </p>
            &nbsp
            <p class="informationTlf">TestTestTestTest</p>
        </li>
    </ul>
</div>