.modalContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.555);
    backdrop-filter: blur(.3em);
}

.modalContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    padding: 3em;
    position: relative;
}

.closeModal {
    position: absolute;
    top: .4em;
    right: .4em;
    font-size: 4em;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

.closeModal:hover{
    transition: .1s ease;
    color:rgb(255, 157, 46);
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.formInput {
    min-height: 2em;
    min-width: 13em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-top: .3em;
    border: solid .1em lightgray;
    font-size: 3em;
    padding-left: .5em;
}

.formText{
    font-size: 3em;
}

.submitButton{
    font-size: 3em;
    margin-top: 1em;
    border:.1em solid rgb(255, 157, 46);
    border-radius: 1em;
    background-color: transparent;
    color: rgb(255, 157, 46);
    font-weight: bolder;
    padding: .5em;
}

.submitButton:hover{
    transition: .1s ease;
    background-color: rgb(255, 157, 46);;
    color: white;
}

.loggInSignInTitleContainer{
    display: flex;
    color:rgb(255, 190, 130);
    font-size: 3em;
    margin-top: 1em;
}

.loggInSectionButton{
    cursor: pointer;
    margin-right: .5em;
}

.signInSectionButton{
    cursor: pointer;
    margin-left: .5em;
}

.sectionHovered:hover{
    text-decoration: underline;
}

.sectionSelected{
    text-decoration: underline;
    color: rgb(255, 157, 46);
}



@media (min-device-width: 768px){

    .closeModal{
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 1.5em;
    }

    .loggInSignInTitleContainer {
        display: flex;
        color:rgb(255, 190, 130);
        font-size: 1em;
    }

    .formContainer{
        display: flex;
        flex-direction: column;
    }

    .formText{
        font-size: 1em;
    }

    .formInput {
        min-height: 2em;
        min-width: 15em;
        border-radius: 1em;
        margin-bottom: 1em;
        border: solid .1em lightgray;
        font-size: 1em;
    }

    .submitButton {
        font-size: 1em;
        margin-top: 2em;
        border-radius: 1em;

    }

}