<div class="modalContainer hidden">
    <div class="modalContent">
        <div class="closeModalContainer">
            <span class="closeModalSpan">X</span>
        </div>
        <div class="logginContainer">
            <h1>Loggin Modal Visible</h1>
        </div>
    </div>
</div>