/**Form to change user details*/

html{
    font-family: 'Muli';
    margin: 0;
    
}

body{
    background-color: rgb(244, 244, 244);
}



h3.cambiarContrasena{
    text-align: center;
    margin-right: 7%;
}
    
h3.cambiarDireccion{
    text-align: center;
    margin-right: 6% ;

}

.thinLine{
    display: flex;
    justify-content: center;
    border-radius: .5em;
    border: lightgray 1px solid;
    width: 20%;
    margin-left:37%;
}

.ulForm{
    margin-left: -8%;
}


.liForm{
    list-style-type: none;

}
.liFormInput{
    list-style-type: none;
    margin-bottom: 1rem;
}

.inputForm{
    width: 18rem;
    border-radius: 1em;
    border: lightgray .15em solid;
}

.textareaForm{
    width: 18rem;
    height: 15rem;
    resize: none;
}

.liFormButton{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.formButton{
    width: 18rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.corporateButton{
    color: rgb(255, 157, 46);
    background-color:transparent;
    border-radius: .5em;
    /*border: .15em solid rgb(255, 189, 46); */
    border: .15em solid rgb(255, 157, 46)
}

.corporateButton:hover{
    background-color: rgb(255, 157, 46);
    color:white;
    border-radius: .5em;
    border-color: transparent;
}

.formPostForm{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;    

}

.containerPost{
    max-width: 100%;
    max-height: 100%;
}

label.error{
    color: red;
    display: flex;
    max-width: 18em;
}


.error::before{
    content: "\a";
    white-space: pre;
}

@media (max-device-width: 600px) {
    .ulForm {   
        margin-left: -8%;
    }
    .thinLine{
        width: 18rem;
        margin-left:12%;
    }h3.cambiarDireccion{
        text-align: center;
        margin-right: 0% ;
    
    }h3.cambiarContrasena{
        text-align: center;
        margin-right: 0%;
    }
    
    
  }