/**Form to create the post*/
.ulForm{
    margin-left: -8%;
}


.liForm{
    list-style-type: none;

}
.liFormInput{
    list-style-type: none;
    margin-bottom: 1rem;
}

.inputForm{
    width: 18rem;
}

.textareaForm{
    width: 18rem;
    height: 15rem;
    resize: none;
}

.liFormButton{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.formButton{
    width: 18rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.formPostForm{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;    

}

.containerPost{
    max-width: 100%;
    max-height: 100%;
}

label.error{
    color: red;
}

.error::before{
    content: "\a";
    white-space: pre;
}

@media (max-device-width: 600px) {
    .ulForm {   
        margin-left: -8%;
    }
  }
