html{
    font-family: 'Muli';
    margin: 0;
    
}
body{
    background-color: #eeeeee;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.headerNavContainer{
    position: fixed;
    top: 1;
    z-index: 1;
    background-color: rgb(244, 244, 244);
    width: 100%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40em;
}

.hidden{
    display: none;
}

.corporateButton{
    color: rgb(255, 157, 46);
    background-color:transparent;
    border-radius: .5em;
    /* border: .15em solid rgb(255, 189, 46); */
    border: .15em solid rgb(255, 157, 46)
}

.corporateButton:hover{
    transition: .25s ease;
    background-color: rgb(255, 157, 46);
    color:white;
    border-radius: .5em;
    border-color: transparent;
}

.listResultsContainer{
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 6em;
    padding-left: 0em;
    margin-bottom: 15em;
}

.createPostButton{
    cursor: pointer;
    display: flex;
    width: 7em;
    justify-content: space-between;
    font-size: 3em;
    padding: .5em 1em;
    position: fixed;
    bottom: 1em;
    background-color: rgb(255, 157, 46);
    border-radius:.5em ;
    color: white;
    box-shadow: .1em .1em .1em gray;
}

.cratePostPlusSign{
    color: white;
}

.createPostButton:hover{
    background-color: rgb(184, 116, 38);
}





@media (min-device-width:768px){
    .mainContainer{
        margin-top: 11em;
        
    }

    .createPostButton{
        font-size: 1em;
    }
}