.mobile{
    display: flex;
}

.tabletDesktop{
    display: none;
}

.searchContainer{

    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0em 0.6em 0.5em -0.5em lightgrey;
}

.searchForm {
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
}

.searchInput{
    min-width: 18.5em;
    border-radius: 1em;
    border: lightgray .1em solid;
    padding-left: .5em;
    font-size: 1em;
}

.distanceSection{
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.distanceInputSection{
    display: flex;
    flex-direction: column;
}

.adressInput{
    min-width: 18.5em;
    border-radius: 1em;
    border: lightgray .1em solid;
    padding-left: .5em;
    font-size: 1em;
}

.searchRadiusSection{
    margin-left: 1.5em;
    align-self: center;
}

.distanceInput{
    max-width: 3em;
    border-radius: 1em;
    border: lightgray .1em solid;
    padding-left:.5em;
    font-size: 1em;
    margin-top: .5em;
}

.searchButton{
    font-size: 1em;
    min-width: 6em;
    align-self: center;
    margin-top: .5em;
}


@media (min-device-width: 768px){

    .mobile{
        display: none;
    }

    .tabletDesktop{
        display: flex;
        font-size: 1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .searchInput{
        min-width: 30em ;
        border-radius: 1em;
        border: lightgray .1em solid;
        padding-left:.5em;
    }
    
    .distanceInput{
        max-width: 4em;
        border-radius: 1em;
        border: lightgray .1em solid;
        padding-left:.5em;
        margin-top: 0;
    
    }
    
    .searchRadiusSection{
        margin-left: 0;
        margin-top: .5em;
    }
}