/*Page to view the Users Profile*/

.userPageMainContainer{
    display: flex;
    flex-direction: column;
    padding: 0em 3em;
    margin-top: 5em;
    font-size: 2em;
}

.userPageMainTitle{
    font-size: 1.5em;
    align-self: center;

}

.userPageForm{
    display: flex;
    flex-direction: column;
    border-bottom: solid .1em lightgray;
    padding-bottom: 1em;

}

.userPageFormInputTitle{
    font-size: 1.2em;
    text-transform: capitalize;
    color: rgb(255, 157, 46);
    font-weight: 900;
    cursor: pointer;
}

.userPageFormIcon{
    margin-right: .1em;
}

.userPageInput{
    align-self: center;
    font-size: 1em;
    padding: .5em;
    width: 90%;
    border-radius: 1em;
    border: .1em solid lightgray;
    text-transform: capitalize;

}

.userPagePostList{
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    align-items: center;
    padding: 0;
    margin-top: 1em;
}

.userPagePostCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24em;
    text-align: center;
    margin-bottom: 5em;
    padding: 0em 3em;
}


.userPagePostCard{
    position: relative;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.5em grey;
    max-width: 100%;
    max-height: 100%;
    padding: 1.5em 0em;
    border-radius: 15px;
    cursor: pointer;

    
}

.userPagePostCardTitleContainer{
    padding: 0em 1.4em;
    text-align: start;
    margin-bottom: 2em;
}

.userPagePostCardTitle{
    font-size: 1.5em;
    width: 100%;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.userPagePostCardImg{
    object-fit: cover;
    width: 95%;
    height: auto;
    border-radius: 1em;
}

.userPagePostcreationDate{
    font-size: 1em;   
}

.userPagePostCardOverlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .25s ease;
    background-color: black;
    border-radius: 15px;

}

.userPagePostCard:hover .userPagePostCardOverlay{
    opacity: .5;
    
}


.userPageCreatePostButton{
    cursor: pointer;
    display: flex;
    width: 7em;
    justify-content: space-between;
    font-size: 1.5em;
    padding: .5em 1em;
    position: fixed;
    z-index: 0;
    bottom: 1em;
    background-color: rgb(255, 157, 46);
    border-radius:.5em ;
    color: white;
    box-shadow: .1em .1em .1em gray;
    align-self: center;
}

.userPageCratePostPlusSign{
    color: white;
}

.userPageCreatePostButton:hover{
    background-color: rgb(184, 116, 38);
}


@media (min-device-width: 767px){

    .userPageMainContainer{
        padding: 0em 1em;
        font-size: 1em;
    }

    .userPageMainTitle{
        align-self:auto;
    }

    .userPageInput{
        width: 25em;
    }

    .userPagePostList{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .userPagePostCardContainer {
        width: 27em;
        padding: 0em 1em;
    }

    .userPagePostCardTitleContainer {
        max-width: 27em;
        max-height: 1em;
    }

    .userPagePostCardTitle{
        font-size: 1em;
    }
    
    .userPagePostCardImg{
        width: 90%;
    }

    .userPageCreatePostButton{
        font-size: 1em;
    }
    

}